@font-face {
   font-family: 'Nanum Gothic';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/boguzhan/Desktop/github/website/website/fonts/Nanum Gothic/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Nanum Gothic';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/boguzhan/Desktop/github/website/website/fonts/Nanum Gothic/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Nanum Gothic';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/boguzhan/Desktop/github/website/website/fonts/Nanum Gothic/regular.ttf') format('truetype');
}
